@import url("./prism-atom-light.min.css") screen and (prefers-color-scheme: light);
@import url("./prism-atom-dark.min.css") screen and (prefers-color-scheme: dark);
@import url("./prism-atom-dark.min.css") screen and (prefers-color-scheme: no-preference);

:root {
    --c1: #e7b711;
    --c2: #04abfc;
    --c3: #fca8d1;
    --c4: #f44336;
    --c5: #39b487;
    --c3-transparent: rgba(252, 168, 209, 0.35);

    --bg-color: #202020;
    --color: #dedede;
    --code-bg-color: #151515;
    --code-color: #bababa;
}

@media (prefers-color-scheme: light) {
    :root {
        --bg-color: #fffdfc;
        --color: #404040;
        --code-bg-color: #fdf6e3;
        --code-color: #073642;
    }
}

html {
    font-size: 22px;
}

body {
    font-family: Inter, sans-serif;
    background-color: var(--bg-color);
    color: var(--color);
}

svg.railroad-diagram {
    background-color: rgba(0,0,0,0) !important;
}

svg.railroad-diagram path {
    stroke: var(--c1) !important;
}

svg.railroad-diagram rect {
    stroke: var(--c5) !important;
    fill: var(--c5) !important;
}

svg.railroad-diagram text {
    font-family: Inter, sans-serif !important;
    font-weight: normal !important;
    fill: var(--bg-color);
}

g.terminal text {
    font-family: Iosevka, sans-serif !important;
}

.railroad-code {
    text-align: center;
    padding: 1rem;
}

.railroad-code svg {
    transform: scale(1.5);
}

@keyframes gradientBG {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-25%);
    }
    100% {
        transform: translateX(-50%);
    }
}

.main-container {
    margin: 0 auto;
    max-width: 1400px;
    width: 90%;
}

.rainbow-separator {
    animation-name: gradientBG;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    background: linear-gradient(
        135deg,
        #e7b711 0%, #e7b711 5%,
        #04abfc 10%, #04abfc 15%,
        #fca8d1 20%, #fca8d1 25%,
        #f44336 30%, #f44336 35%,
        #39b487 40%, #39b487 45%,
        #e7b711 50%, #e7b711 55%,
        #04abfc 60%, #04abfc 65%,
        #fca8d1 70%, #fca8d1 75%,
        #f44336 80%, #f44336 85%,
        #39b487 90%, #39b487 95%,
        #e7b711 100%
    )
}

h2 {
    font-weight: normal;
    font-size: 2rem;
}

pre {
    border: solid 1px rgba(150, 150, 150, 0.5);
}

code, pre {
    font-family: Iosevka, "Source Code Pro", monospace !important;
    font-variant-ligatures: discretionary-ligatures;
}

.marked p {
    line-height: 1.5rem;
    text-align: justify;
}

.marked h1 {
    font-weight: normal;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.marked h2 {
    font-size: 1.75rem;
    font-weight: 300;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
}

.marked h3, .marked h4, .marked h5 {
    font-weight: 300;
}

.marked table {
    text-align: center;
    border-collapse: collapse;
}

.marked table, th, td {
    border: solid 1px rgba(150, 150, 150, 1);
}

.marked table td, th {
    padding: 0.25rem 0.5rem;
}
